body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

#portfolioWrapper {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
}

#navbarContainer {
    
}

#rightHeader {
    display: flex;
    gap: 15px;
}

#leftHeader {
    font-weight: 500;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

#sideWrapper {
    border-right: 1px solid black;
    padding-top: 30px;
    width: 100%;
}

#introductionContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#introductionWrapper {
    
}

.Title {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 25px;
}

.Subtitle {

}

.Italic {
    font-style: italic;
}

#socialLinks {
    display: flex;
    gap: 15px;
}

a {
    color: gray;
}

#experienceWrapper {
    margin-top: 50px;
    height: calc(100vh - 120px);
    width: 100%;
    overflow-y: auto;
}

#experienceContainer {
    
}

.Experience {
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid black;
}

#content {
    display: flex;
    width: 100%;
}

#contentWrapper {
    padding: 15px;
    max-width: 100%;
}

#contentContainer {
    width: 100%;
}

#projectList {
    border-top: 1px solid black;
    display: flex;
}

.Element {

}

