body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

#portfolioWrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}

#rightHeader {
    display: flex;
    gap: 15px;
}

#leftHeader {
    font-weight: 500;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#introductionContainer {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid black;
}

.BigTitle {
    font-size: 25px;
    font-family: "Roboto Slab", serif;
    font-weight: 500;
}

.Title {
    font-size: 20px;
    font-weight: 500;
    font-family: "Roboto Slab", serif;
}

.Subtitle {
    font-size: 20px;
}

.Text {
    font-size: 17px;
}

.Italic {
    font-style: italic;
}

#socialLinks {
    display: flex;
    gap: 15px;
}

a {
    color: blue;
}

.option:hover{
    color: blue;
}

.project-list {
    column-count: 3;
    margin-top: 15px;
    margin-bottom: 15px;
}

.project-section {
    border-top: 1px solid black;
}

.project-selected {
    color: blue;
}

.option {
    cursor: pointer;
}